.ShopItem {
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 8px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 170px;
}

.ShopItem img {
  width: 150px;
  height: 150px;
  margin: 10px;
}

.name {
  font-size: 16px;
  margin: 6px 10px 0px 10px;
}

.price {
  margin: 6px 10px;
  color: rgb(58,58,58);
  font-weight: bold;
}

.ShopItem button {
  margin: 0px 10px;
  background-color: rgb(58,58,58);
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

